@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRMS-Riinvest</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets1/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets1/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets1/css/app.css">
    <link rel="stylesheet" href="~/assets1/css/pages/error.css">
</head>

<body>
    <div id="error">
        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <img class="img-error" src="~/images/error/error-403.png" width="450px" height="450px" alt="Not Found">
                <div class="text-center">
                    <h1 class="error-title">Access denied</h1>
                    <p class="fs-5 text-gray-600">You are unauthorized to see this page.</p>
                    <a href="/Home/Index" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
