@page
@using HRMS.Models
@using HRMS.Utilities.General
@model LoginModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_Layout";
    ErrorVM error = (ErrorVM)ViewData["Error"] ?? new ErrorVM();
}

<form method="post" asp-page="Login" asp-route-returnUrl="@Model.ReturnUrl" data-ajax="true" data-ajax-success="onSuccessLogin" id="frm_Login">
    <div class="card-body">
        <div id="status"></div>
        <p class="login-box-msg">Log in to start your session.</p>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.Input.returnUrl)

        <div class="input-group">
            <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email">
            <div class="input-group-append"><div clas="input-group-text"><span class="fas fa-envelope"></span></div></div>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <div class="input-group mt-3">
            <input asp-for="Input.Password" type="password" class="form-control form-control" placeholder="Password">
            <div class="input-group-append"><div clas="input-group-text"><span class="fas fa-lock"></span></div></div>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="card-footer">
        <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" id="btn_SubmitLogin" data-action="Login" data-callback="onSubmitForm" class="btn btn-block btn-primary">
                <span class="btn-text">
                    Log in
                </span>
                <span class="btn-spinner d-none">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Please wait..
                </span>
            </button>
        </div>
        <div class="text-center mt-1 text-md fs-4" style="font-size:1rem !important;">
            <p class="m-0"><a class="font-bold" href="/Identity/Account/ForgotPassword">Forgot password?</a></p>
        </div>
    </div>
</form>

@section Scripts{
<script>
    function onSubmitForm() {
        if ($('#frm_Login').valid()) {
            $('#frm_Login').submit();
            setTimeout(function() {
                $('#btn_SubmitLogin').attr('disabled', true);
            }, 150);
        }
    }

    $('#btn_SubmitLogin').on('click', function() {
        if ($('#frm_Login').valid()) {
            $('#btn_SubmitLogin').attr('disabled');
            $('#btn_SubmitLogin').find('.btn-text').addClass('d-none');
            $('#btn_SubmitLogin').find('.btn-spinner').removeClass('d-none');
        }
    });

    function onSuccessLogin(data) {
        $('#btn_SubmitLogin').find('.btn-text').removeClass('d-none');
        $('#btn_SubmitLogin').find('.btn-spinner').addClass('d-none');
        if (data.status == 1) {
            window.location.href = '/Home/Index';
        } else if (data.status == 2) {
            $.post('/Identity/Account/Message?handler=Filter',
            {
                Title: data.title,
                Status: data.status,
                Description: data.description,
                '__RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            function (data) {
                $('#status').html(data);
            });
            $('#btn_SubmitLogin').removeAttr('disabled');
        } else if (data.status == 3) {
            $.post('/Identity/Account/Message?handler=Filter',
            {
                Title: data.title,
                Status: data.status,
                Description: data.description,
                '__RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            function (data) {
                console.log(data);
                $('#status').html(data);
            });
            $('#btn_SubmitLogin').removeAttr('disabled');
        }
    }
</script>
}
