@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="bs-stepper">
            <partial name="_Navigation" />
            <div class="bs-stepper-content pt-4">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
    @RenderSection("Scripts", required: false)
}
