.offcanvas, .offcanvas-mobile {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important
}

    .offcanvas .offcanvas-header.offcanvas-header-navs, .offcanvas-mobile .offcanvas-header.offcanvas-header-navs {
        position: relative
    }

        .offcanvas .offcanvas-header.offcanvas-header-navs .offcanvas-close, .offcanvas-mobile .offcanvas-header.offcanvas-header-navs .offcanvas-close {
            position: absolute;
            top: 0;
            right: 0
        }

    .offcanvas .offcanvas-content .offcanvas-demo, .offcanvas-mobile .offcanvas-content .offcanvas-demo {
        border: 5px solid #ebedf3
    }

        .offcanvas .offcanvas-content .offcanvas-demo.offcanvas-demo-active, .offcanvas-mobile .offcanvas-content .offcanvas-demo.offcanvas-demo-active {
            border: 5px solid #009ef7
        }

.offcanvas {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 9px -3px rgba(0,0,0,.25);
    box-shadow: 0 1px 9px -3px rgba(0,0,0,.25)
}

@media (max-width:991.98px) {
    .offcanvas-mobile {
        background-color: #fff;
        -webkit-box-shadow: 0 1px 9px -3px rgba(0,0,0,.25);
        box-shadow: 0 1px 9px -3px rgba(0,0,0,.25);
        overflow: auto
    }
}

.offcanvas {
    z-index: 1001;
    position: fixed;
    top: 0;
    bottom: 0;
    -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
    transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
    left: -395px;
    width: 375px
}

    .offcanvas.offcanvas-on {
        -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
        transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
        left: 0
    }

@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .offcanvas {
        -webkit-transition: none !important;
        transition: none !important
    }
}

.offcanvas.offcanvas-right {
    right: -395px;
    left: auto
}

    .offcanvas.offcanvas-right.offcanvas-on {
        -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
        transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
        right: 0;
        left: auto
    }

.offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    -webkit-animation: animation-offcanvas-fade-in .6s ease 1;
    animation: animation-offcanvas-fade-in .6s ease 1
}

@-webkit-keyframes animation-offcanvas-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes animation-offcanvas-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.offcanvas {
    background: #fff;
    -webkit-box-shadow: 0 1px 9px -3px rgba(0,0,0,.25);
    box-shadow: 0 1px 9px -3px rgba(0,0,0,.25)
}

.offcanvas-overlay {
    background: rgba(0,0,0,.1)
}

@media (max-width:425px) {
    .offcanvas {
        width: 90% !important
    }
}

@media (max-width:991.98px) {
    [data-offcanvas-offcanvas=on] {
        overflow: hidden !important
    }
}

@media (max-width:991.98px) {
    .offcanvas-mobile {
        z-index: 1001;
        position: fixed;
        top: 0;
        bottom: 0;
        -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
        transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
        left: -395px;
        width: 375px
    }

        .offcanvas-mobile.offcanvas-mobile-on {
            -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            left: 0
        }
}

@media screen and (max-width:991.98px) and (-ms-high-contrast:active),(max-width:991.98px) and (-ms-high-contrast:none) {
    .offcanvas-mobile {
        -webkit-transition: none !important;
        transition: none !important
    }
}

@media (max-width:991.98px) {
    .offcanvas-mobile.offcanvas-mobile-right {
        right: -395px;
        left: auto
    }

        .offcanvas-mobile.offcanvas-mobile-right.offcanvas-mobile-on {
            -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            right: 0;
            left: auto
        }

    .offcanvas-mobile-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: 1000;
        -webkit-animation: animation-offcanvas-fade-in .6s ease 1;
        animation: animation-offcanvas-fade-in .6s ease 1
    }

    @-webkit-keyframes animation-offcanvas-fade-in {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @keyframes animation-offcanvas-fade-in {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .offcanvas-mobile {
        background: #fff;
        -webkit-box-shadow: 0 1px 9px -3px rgba(0,0,0,.25);
        box-shadow: 0 1px 9px -3px rgba(0,0,0,.25)
    }

    .offcanvas-mobile-overlay {
        background: rgba(0,0,0,.1)
    }
}

@media (max-width:425px) {
    .offcanvas-mobile {
        width: 90% !important
    }
}

@media (max-width:991.98px) {
    [data-offcanvas-offcanvas-mobile=on] {
        overflow: hidden !important
    }
}


@media (max-width:1199.98px) {
    body, html {
        font-size: 13px !important
    }
}

@media (max-width:991.98px) {
    body, html {
        font-size: 12px !important
    }
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #3f4254
}

router-outlet {
    display: none
}

a:active, a:focus, a:hover {
    text-decoration: none !important
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

@media print {
    .print-content-only {
        padding: 0 !important;
        background: 0 0 !important
    }

        .print-content-only .container, .print-content-only .container-fluid, .print-content-only .container-lg, .print-content-only .container-md, .print-content-only .container-sm, .print-content-only .container-xl, .print-content-only .container-xxl, .print-content-only .content, .print-content-only .page, .print-content-only .wrapper {
            background: 0 0 !important;
            padding: 0 !important;
            margin: 0 !important
        }

        .print-content-only .aside, .print-content-only .footer, .print-content-only .header, .print-content-only .header-mobile, .print-content-only .offcanvas, .print-content-only .scrolltop, .print-content-only .sidebar, .print-content-only .sticky-toolbar, .print-content-only .subheader {
            display: none !important
        }
}

@media (max-width:991.98px) {
    .header-menu-wrapper.header-menu-wrapper-right {
        right: -295px;
        left: auto
    }

        .header-menu-wrapper.header-menu-wrapper-right.header-menu-wrapper-on {
            -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            right: 0;
            left: auto
        }

    .header-menu-wrapper-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: 1000;
        -webkit-animation: animation-offcanvas-fade-in .6s ease 1;
        animation: animation-offcanvas-fade-in .6s ease 1
    }

    @-webkit-keyframes animation-offcanvas-fade-in {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @keyframes animation-offcanvas-fade-in {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .header-menu-wrapper {
        background: #fff;
        -webkit-box-shadow: 0 1px 9px -3px rgba(0,0,0,.75);
        box-shadow: 0 1px 9px -3px rgba(0,0,0,.75)
    }

    .header-menu-wrapper-overlay {
        background: rgba(0,0,0,.1)
    }
}

@media (max-width:991.98px) {
    [data-offcanvas-header-menu-wrapper=on] {
        overflow: hidden !important
    }
}

@media (max-width:991.98px) {
    .aside.aside-right {
        right: -295px;
        left: auto
    }

        .aside.aside-right.aside-on {
            -webkit-transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            transition: left .3s ease,right .3s ease,bottom .3s ease,top .3s ease;
            right: 0;
            left: auto
        }

    .aside-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: 1000;
        -webkit-animation: animation-offcanvas-fade-in .6s ease 1;
        animation: animation-offcanvas-fade-in .6s ease 1
    }

    @-webkit-keyframes animation-offcanvas-fade-in {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @keyframes animation-offcanvas-fade-in {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .aside {
        background: #fff;
        -webkit-box-shadow: 0 1px 9px -3px rgba(0,0,0,.75);
        box-shadow: 0 1px 9px -3px rgba(0,0,0,.75)
    }

    .aside-overlay {
        background: rgba(0,0,0,.1)
    }
}

@media (max-width:991.98px) {
    [data-offcanvas-aside=on] {
        overflow: hidden !important
    }
}

