<div class="modal center-modal fade modal-center" id="mdl_load" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none; z-index:99999" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <img src="~/svg-loaders/Wedges.svg" class="me-4" style="margin: auto; display: block;" alt="audio">
    </div>
</div>
