<li class="nav-item dropdown show">
    <a class="nav-link" style="cursor: pointer;" data-toggle="dropdown" onclick="get_notifications()" aria-expanded="true">
        <i class="far fa-bell"></i>
        <span class="badge badge-primary navbar-badge" id="notification_count"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right" style="left: inherit; right: 0px; overflow-y: auto;" id="notifications_list">
    </div>
</li>