@using HRMS.Models.Home.SideProfile
@model SideProfile

<li class="user-header bg-primary">
    <img src='@Url.Content(Model.ProfileImage ?? "~/images/user-default.png")' class="img-circle elevation-2" alt="User image">

    <p>
        @Model.Name
        <small>@Model.Username</small>
    </p>
</li>

<li class="user-body">
    <div class="row">
        <div class="col-12 text-center">
            Change role
        </div>
    </div>
</li>

<li class="user-footer">
    <a href="/Identity/Account/Manage" class="btn btn-default btn-flat">Profili</a>
    <a href="/Identity/Account/Logout" class="btn btn-default btn-flat float-right">Shkyqu</a>
</li>