@using HRMS.Areas.Evaluations.Models.StudentsCollege
@model ManageQuestion

<div class="modal-header">
    <h5 class="modal-title">@Resource.Answer</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="far fa-times-circle"></i>
    </button>
</div>

<form asp-action="EditQuestion" asp-controller="StudentsCollege" asp-area="Evaluations" id="frm_edit_question" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_edit_question">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <input asp-for="EvaluationQuestionnaireNumericalIde" type="hidden"/>
        <input asp-for="EvaluationQuestionnaireOptionalIde" type="hidden"/>
        <input asp-for="QuestionTypeEnum" type="hidden"/>

        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="QuestionSQ" class="required"></label>
                <input asp-for="QuestionSQ" type="text" class="form-control"/>
                <span asp-validation-for="QuestionSQ" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="QuestionEN" class="required"></label>
                <input asp-for="QuestionEN" type="text" class="form-control"/>
                <span asp-validation-for="QuestionEN" class="text-danger"></span>
            </div>
            @* TODO: Later to integrate optional with topics.
            @if (!string.IsNullOrEmpty(Model.Answer))
            {
                <div class="col-md-12 form-group">
                    <label asp-for="Answer" class="required"></label>
                    <textarea asp-for="Answer" rows="2" class="form-control"></textarea>
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
            } *@
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-default" data-dismiss="modal">@Resource.Close</button>
        <button type="submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Edit</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        $.validator.setDefaults({ ignore: '' });
        var form = $('#frm_edit_question');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
    });

    function success_edit_question(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>
